# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temp / Build
scratch/
build/
dist/
*.egg-info/

# Recognition data
/recognition/dataset/
/recognition/embeddings.pkl
/recognition/venv/
/recognition/lfw_faces/